#macro (ContainerInfo)#{if}($EDIT_MODE)<div style="border:2px solid #bb30e1;float:none;clear:both;width:auto;margin-top:1rem;background-color:#222;padding: 0.2rem 1.4rem;"><h5 style="color:#ccc;font-family: monospace;margin: 4px;font-size: 15px;">Container: $CONTAINER_NAME ($column.containers[0].identifier)</h5><h6 style="color:#ccc;font-family: monospace;margin: 4px;font-size: 13px;">Page Layout: $dotcontent.find("${dotPageContent.layout}").description (${dotPageContent.layout})</h6></div>#{end}#{end}