#macro (VelocityContext)
	<div style="width:100%;float:none;clear:both;position:relative;">
		<h1>Velocity Context</h1>
		<table class="data-dump-table" width="99%">
			<thead>
				<tr>
					<th width="50%">Key</th>
					<th width="50%">Value</th>
				</tr>
			</thead>
			<tbody>
		#foreach($key in $context.getKeys())
			<tr>
				<td>$!{key}</td>
				<td>$esc.html("${context.get($key)}")</td>
			</tr>
		#end
			</tbody>
		</table>
	</div>
	<link rel="stylesheet" href="//$!{HOST_SHARED_ASSETS}$!{APP_UTIL}/css/dump-table.css">
#end